In [1]:
import datetime
import time

import pandas as pd
import seaborn as sns
import cartopy.crs as ccrs
import cartopy.feature as cfeature
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
import pgpasslib

from querymsc import WorkflowTools

In [2]:
connection_string = "postgresql+psycopg2://nannau@dbmsc.pcic.uvic.ca/msc"
engine = create_engine(connection_string)
Session = sessionmaker(bind=engine)
session = Session()

In [3]:
start_time = datetime.datetime(1990, 1, 1)
end_time = datetime.datetime(2000, 1, 1)

msc = WorkflowTools(start_time, end_time, month=1)

In [4]:
annual_tot_precip = msc.query_annual_precip(session)
annual_tot_rain = msc.query_annual_rain(session)

Year interval: 10.0
Year interval: 10.0

In [5]:
start = time.time()
df_tot_precip = pd.read_sql(annual_tot_precip.statement, engine)
df_tot_rain = pd.read_sql(annual_tot_rain.statement, engine)
end = time.time()
print((end-start)/60., 'minutes', (end-start), 'seconds')

1.8935200810432433 minutes 113.6112048625946 seconds

In [10]:
df_tot_precip.sort_values(by=['lon', 'lat']).head()

         sum   min_date   max_date      lat      lon  station_id
937   417.70 1990-01-01 2000-01-01  62.4103 -140.868        1778
828   282.97 1990-01-01 2000-01-01  67.5706 -139.839        1862
78    319.12 1990-01-01 2000-01-01  64.0431 -139.128        1803
1052  263.53 1990-01-01 2000-01-01  61.3667 -139.050        1789
121   352.64 1990-01-01 2000-01-01  65.3603 -138.305        1861

In [11]:
df_tot_rain.sort_values(by=['lon', 'lat']).head()

         sum   min_date   max_date      lat      lon  station_id
1130  295.82 1990-01-01 2000-01-01  62.4103 -140.868        1778
1150  162.51 1990-01-01 2000-01-01  67.5706 -139.839        1862
1139  186.05 1990-01-01 2000-01-01  64.0431 -139.128        1803
1124  180.43 1990-01-01 2000-01-01  61.3667 -139.050        1789
1145  212.59 1990-01-01 2000-01-01  65.3603 -138.305        1861

In [8]:
df_vars = pd.read_sql(msc.query_variables(session).statement, engine)
df_vars[df_vars['standard_name']=='lwe_thickness_of_precipitation_amount']

,vars_id,standard_name,long_description,unit,cell_method
72,1361,lwe_thickness_of_precipitation_amount,precipitation amount (minutes 00-60),0.1 mm,time: sum
73,1362,lwe_thickness_of_precipitation_amount,precipitation amount (minutes 00-15),0.1 mm,time: sum
74,1363,lwe_thickness_of_precipitation_amount,precipitation amount (minutes 15-30),0.1 mm,time: sum
75,1364,lwe_thickness_of_precipitation_amount,precipitation amount (minutes 30-45),0.1 mm,time: sum
76,1365,lwe_thickness_of_precipitation_amount,precipitation amount (minutes 45-60),0.1 mm,time: sum
108,1397,lwe_thickness_of_precipitation_amount,Total precipitation,0.1 mm,time: sum
119,1412,lwe_thickness_of_precipitation_amount,1200 UTC,0.1 mm,time: sum
120,1413,lwe_thickness_of_precipitation_amount,1800 UTC,0.1 mm,time: sum
121,1414,lwe_thickness_of_precipitation_amount,0000 UTC,0.1 mm,time: sum
122,1415,lwe_thickness_of_precipitation_amount,0600 UTC,0.1 mm,time: sum
152,1454,lwe_thickness_of_precipitation_amount,Total precipitation,0.1 mm,time: sum

In [9]:
df_vars[df_vars['standard_name'].str.contains('rain')]

,vars_id,standard_name,long_description,unit,cell_method
91,1380,thickness_of_rainfall_amount,Hourly rainfall,0.1 mm,time: sum
93,1382,rainfall_rate,5 minutes,0.1mm,
94,1383,rainfall_rate,10 minutes,0.1mm,
95,1384,rainfall_rate,15 minutes,0.1mm,
96,1385,rainfall_rate,30 minutes,0.1mm,
97,1386,rainfall_rate,1 hour,0.1mm,
98,1387,rainfall_rate,2 hours,0.1mm,
99,1388,rainfall_rate,6 hours,0.1mm,
100,1389,rainfall_rate,12 hours,0.1mm,
102,1391,rainfall_rate,24 hours,0.1mm,
106,1395,thickness_of_rainfall_amount,Total rainfall,0.1mm,time: sum
150,1452,thickness_of_rainfall_amount,Total rainfall,0.1 mm,time: sum
154,1456,rainfall_amount,Greatest rainfall,0.1 mm,time: maximum