In [1]:
import datetime

import pandas as pd

from WorkflowMSC import WorkflowMSC

In [2]:
connection_string = "postgresql+psycopg2://nannau@dbmsc.pcic.uvic.ca/msc"

In [3]:
start_time = datetime.datetime(2000, 1, 1)
end_time = datetime.datetime(2001, 1, 10)

msc = WorkflowMSC(connection_string, start_time, end_time)

In [4]:
precip = msc.annual_rain()

Year interval: 1.0

In [5]:
pd.read_sql(precip.statement, msc.engine)

         sum   max_date       lat       lon  station_id
0      648.8 2001-01-10   48.5733 -123.3920          16
1     1102.9 2001-01-10   48.9350 -123.7420          18
2      552.1 2001-01-10   48.4178 -123.4810          22
3      787.3 2001-01-10   48.7111 -123.5570          27
4     1805.2 2001-01-10   48.8244 -124.1330          29
5     1687.3 2001-01-10   48.8294 -124.0520          32
6     1033.2 2001-01-10   48.7347 -123.7280          39
7      630.8 2001-01-10   48.4320 -123.4390          45
8      878.8 2001-01-10   48.8717 -123.4980          48
9      812.1 2001-01-10   48.9850 -123.5730          50
10    1833.0 2001-01-10   48.8308 -124.1940          53
11     830.9 2001-01-10   48.5749 -123.5300          60
12     786.1 2001-01-10   48.8447 -123.3200          62
13     750.2 2001-01-10   48.3742 -123.5610          63
14     876.5 2001-01-10   48.6447 -123.5570          68
15     969.0 2001-01-10   48.8242 -123.7180          72
16     794.0 2001-01-10   48.7639 -123.2870          74
17    1474.6 2001-01-10   48.4058 -123.9910          77
18    2870.2 2001-01-10   48.5917 -124.3260          78
19     752.4 2001-01-10   48.6217 -123.4190          82
20     895.0 2001-01-10   48.8203 -123.4770          87
21     772.9 2001-01-10   48.5975 -123.4270          91
22     745.3 2001-01-10   48.7753 -123.1280          93
23     695.4 2001-01-10   48.7839 -123.0450          95
24    1012.6 2001-01-10   48.6469 -123.6260          96
25     707.2 2001-01-10   48.3767 -123.9210          98
26    1145.3 2001-01-10   48.5756 -123.6400         103
27     412.0 2001-01-10   48.4570 -123.3050         111
28     742.6 2001-01-10   48.4764 -123.4430         113
29     526.4 2001-01-10   48.4131 -123.3250         114
...      ...        ...       ...       ...         ...
1907   410.6 2001-01-10   51.1139 -114.0200        2890
1908   358.0 2001-01-10   51.1094 -114.0000        2891
1909     0.0 2001-01-10   51.0000 -115.5000        3183
1910   508.0 2001-01-10   50.5667 -103.9830        3964
1911   478.9 2001-01-10   50.4333 -104.6670        3974
1912   438.5 2001-01-10   52.1667 -106.7170        4351
1913   730.5 2001-01-10   49.9167  -97.2333        4797
1914   983.7 2001-01-10   45.3225  -75.6692        5655
1915  1157.6 2001-01-10   43.0331  -81.1511        6216
1916   761.3 2001-01-10   43.6772  -79.6306        6592
1917   464.4 2001-01-10   45.8094  -73.4347        6766
1918  1317.4 2001-01-10   47.5622  -71.2289        6778
1919  1136.2 2001-01-10   45.2939  -73.3494        7137
1920  1177.0 2001-01-10   45.6667  -74.0333        7189
1921   734.5 2001-01-10   48.0564  -77.7867        7732
1922  1414.3 2001-01-10   44.8800  -63.5000        8136
1923  1415.1 2001-01-10   44.7000  -63.9000        8268
1924  1402.5 2001-01-10   46.7003  -64.2617        8387
1925  1906.1 2001-01-10   47.9833  -55.8000        8419
1926  1371.7 2001-01-10   48.9464  -54.5769        8497
1927  1061.0 2001-01-10   50.6000  -57.1833        8521
1928   716.3 2001-01-10   46.9219  -54.1800        8599
1929  1682.7 2001-01-10   47.6222  -52.7428        8606
1930  1471.1 2001-01-10   47.5156  -52.7847        8610
1931  1306.6 2001-01-10   49.0333  -55.5500        8664
1932  1040.8 2001-01-10   49.0667  -58.1167        8679
1933   564.4 2001-01-10   52.3036  -55.8325        8741
1934   370.8 2001-01-10   52.8333 -111.1000        9931
1935   426.8 2001-01-10   51.6675 -115.5060       10275
1936   343.9 2001-01-10 -104.7110 -104.7110       10674

[1937 rows x 5 columns]