In [1]:
import datetime
import time

import pandas as pd
import seaborn as sns
import cartopy.crs as ccrs
import cartopy.feature as cfeature
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
import pgpasslib

from querymsc import WorkflowTools

In [2]:
connection_string = "postgresql+psycopg2://nannau@dbmsc.pcic.uvic.ca/msc"
engine = create_engine(connection_string)
Session = sessionmaker(bind=engine)
session = Session()

In [3]:
start_time = datetime.datetime(1990, 1, 1)
end_time = datetime.datetime(2000, 1, 1)

msc = WorkflowTools(start_time, end_time, month=1)

In [9]:
annual_tot_precip = msc.query_annual_precip(session)
annual_tot_rain = msc.query_annual_rain(session)

Year interval: 10.0
Year interval: 10.0

In [10]:
start = time.time()
df_tot_precip = pd.read_sql(annual_tot_precip.statement, engine)
df_tot_rain = pd.read_sql(annual_tot_rain.statement, engine)
end = time.time()
print((end-start)/60., 'minutes', (end-start), 'seconds')

1.9920735081036887 minutes 119.52441048622131 seconds

In [23]:
df_tot_precip.sort_values(by=['lon', 'lat'])

          sum   min_date   max_date      lat       lon  station_id
1428   417.70 1990-01-01 2000-01-01  62.4103 -140.8680        1778
1706   241.02 1993-01-01 2000-01-01  62.3667 -140.8670        1779
1252   282.97 1990-01-01 2000-01-01  67.5706 -139.8390        1862
123    319.12 1990-01-01 2000-01-01  64.0431 -139.1280        1803
1832    95.42 1996-08-23 2000-01-01  64.0609 -139.1270        1887
1598   263.53 1990-01-01 2000-01-01  61.3667 -139.0500        1789
527    159.50 1993-01-08 2000-01-01  61.3667 -139.0330        1786
188    352.64 1990-01-01 2000-01-01  65.3603 -138.3050        1861
622    502.62 1990-01-01 2000-01-01  64.4539 -138.2160        1839
587    359.85 1991-01-01 2000-01-01  60.7725 -137.5800        1827
780    339.01 1990-01-01 2000-01-01  63.5942 -137.5230        1854
1291   353.70 1990-01-01 2000-01-01  60.7495 -137.5050        1828
356    325.19 1990-01-01 2000-01-01  62.8300 -137.3110        1869
515    297.45 1990-01-01 2000-01-01  61.0333 -137.0500        1866
1080   529.77 1990-01-01 2000-01-01  60.0000 -136.7670        1780
250    419.07 1990-01-01 2000-01-01  66.3694 -136.7180        1812
955    333.24 1990-01-01 2000-01-01  63.3833 -136.6830        1890
317   1379.26 1990-01-01 2000-01-01  59.4500 -136.3670        1760
918    293.27 1990-01-01 2000-01-01  62.1000 -136.3000        1793
1254   272.96 1990-01-01 2000-01-01  63.6167 -135.8670        1850
685    226.32 1990-01-01 2000-01-01  60.9458 -135.5730        1899
973    321.02 1990-01-01 2000-01-01  60.8764 -135.1830        1853
1788   305.39 1990-01-01 2000-01-01  60.7667 -135.1170        1870
968    210.95 1990-01-01 2000-01-01  60.7095 -135.0690        1915
573   1139.83 1990-01-01 2000-01-01  59.7164 -135.0450        1767
1748   268.91 1990-01-01 2000-01-01  60.7100 -135.0270        1918
1420   249.38 1990-01-01 2000-01-01  68.2233 -135.0060        1922
1767   275.28 1990-01-01 2000-01-01  67.4078 -134.8600        1958
749    138.29 1993-01-01 2000-01-01  60.4667 -134.8330        1773
871    278.22 1990-01-01 2000-01-01  60.1743 -134.6980        1792
...       ...        ...        ...      ...       ...         ...
1637   873.98 1991-01-01 2000-01-01  48.7825  -54.2144        8496
818   1518.88 1990-01-01 2000-01-01  47.8853  -54.2131        8637
453    758.51 1990-01-01 2000-01-01  46.9219  -54.1800        8599
720   1034.58 1990-01-01 2000-01-01  48.3494  -54.1703        8574
1368   641.43 1992-01-02 2000-01-01  47.2939  -53.9933        8409
192   1105.20 1990-01-01 2000-01-01  49.4500  -53.9833        8553
603    415.96 1996-01-01 2000-01-01  48.5569  -53.9744        8639
231   1489.54 1990-01-01 2000-01-01  47.9492  -53.9653        8506
1687   952.59 1990-01-01 2000-01-01  48.3633  -53.9639        8457
708   1291.24 1990-01-01 2000-01-01  48.3500  -53.9017        8541
1035  1068.76 1990-01-01 2000-01-01  49.0389  -53.8756        8532
697   1544.75 1990-01-01 2000-01-01  47.1333  -53.6667        8556
154   1390.42 1990-01-01 2000-01-01  48.3833  -53.6667        8455
1505  1445.21 1990-01-01 2000-01-01  46.9167  -53.5667        8672
1189  1409.89 1991-01-01 2000-01-01  47.4167  -53.5375        8659
1145  1042.51 1991-01-01 2000-01-01  47.8667  -53.3833        8522
295   1392.55 1990-01-01 2000-01-01  47.5792  -53.3161        8445
521   1495.64 1990-01-02 2000-01-01  47.2667  -53.2833        8617
1293  1303.11 1990-01-01 2000-01-01  47.7683  -53.2178        8655
914    552.98 1996-01-01 2000-01-01  47.3819  -53.1233        8527
474    247.93 1998-01-01 2000-01-01  48.0336  -53.1189        8432
721   1199.90 1990-01-01 2000-01-01  48.6672  -53.1142        8428
391   1108.61 1990-01-01 2000-01-01  47.4500  -53.1000        8528
1126  1307.56 1990-01-01 2000-01-01  48.5000  -53.0833        8578
89     351.72 1994-11-15 2000-01-01  46.6600  -53.0764        8446
1403   301.60 1998-01-01 2000-01-01  47.6453  -52.8169        8576
1391   401.25 1996-01-01 2000-01-01  47.5156  -52.7847        8610
694   1767.51 1990-01-01 2000-01-01  47.6222  -52.7428        8606
879   1296.04 1990-01-01 2000-01-01  47.5667  -52.6833        8623
509   1309.87 1990-01-02 2000-01-01  47.6242  -52.6642        8544

[1914 rows x 6 columns]

In [22]:
df_tot_rain.sort_values(by=['lon', 'lat'])

          sum   min_date   max_date      lat       lon  station_id
1429   295.82 1990-01-01 2000-01-01  62.4103 -140.8680        1778
1428   172.46 1993-10-01 2000-01-01  62.3667 -140.8670        1779
1465   162.51 1990-01-01 2000-01-01  67.5706 -139.8390        1862
1445   186.05 1990-01-01 2000-01-01  64.0431 -139.1280        1803
1420   180.43 1990-01-01 2000-01-01  61.3667 -139.0500        1789
1454   212.59 1990-01-01 2000-01-01  65.3603 -138.3050        1861
1449   278.31 1990-01-01 2000-01-01  64.4539 -138.2160        1839
1440   207.72 1990-01-01 2000-01-01  63.5942 -137.5230        1854
1410   159.94 1990-01-01 2000-01-01  60.7495 -137.5050        1828
1434   199.83 1990-01-01 2000-01-01  62.8300 -137.3110        1869
1415   180.57 1990-01-01 2000-01-01  61.0333 -137.0500        1866
1398   267.20 1990-01-01 2000-01-01  60.0000 -136.7670        1780
1461   245.04 1990-01-01 2000-01-01  66.3694 -136.7180        1812
1439   199.59 1990-01-01 2000-01-01  63.3833 -136.6830        1890
1393   659.82 1990-01-01 2000-01-01  59.4500 -136.3670        1760
1424   192.71 1990-01-01 2000-01-01  62.1000 -136.3000        1793
1443   156.98 1990-01-01 2000-01-01  63.6167 -135.8670        1850
1414   150.60 1990-01-01 2000-01-01  60.9458 -135.5730        1899
1413   209.42 1990-01-01 2000-01-01  60.8764 -135.1830        1853
1411   169.02 1990-01-01 2000-01-01  60.7667 -135.1170        1870
1408   110.51 1990-01-01 2000-01-01  60.7095 -135.0690        1915
1397   334.89 1990-01-01 2000-01-01  59.7164 -135.0450        1767
1409   130.64 1990-01-01 2000-01-01  60.7100 -135.0270        1918
1467   126.30 1990-01-01 2000-01-01  68.2233 -135.0060        1922
1463   145.42 1990-01-01 2000-01-01  67.4078 -134.8600        1958
1406    63.78 1993-11-01 2000-01-01  60.4667 -134.8330        1773
1403   143.43 1990-01-01 2000-01-01  60.1743 -134.6980        1792
1425   230.14 1990-01-01 2000-01-01  62.2019 -134.3900        1811
1405    67.75 1994-11-01 2000-01-01  60.4333 -134.2500        1848
1396   181.58 1990-03-21 2000-01-01  59.6000 -134.1830        1748
...       ...        ...        ...      ...       ...         ...
551    886.18 1990-01-01 2000-01-01  49.0667  -55.3000        8583
395   1587.87 1990-01-01 2000-01-01  47.0936  -55.2017        8619
403   1610.49 1990-01-01 2000-01-01  47.2992  -55.0100        8582
521    873.32 1990-01-01 2000-01-01  48.9833  -54.8500        8504
411   1389.53 1990-01-01 2000-01-01  47.4306  -54.8428        8427
519    747.09 1990-01-01 2000-01-01  48.9464  -54.5769        8497
760    775.32 1990-10-01 2000-01-01  49.7167  -54.3000        8490
674    851.23 1990-01-01 2000-01-01  49.4000  -54.2667        8450
499    688.35 1991-10-01 2000-01-01  48.7825  -54.2144        8496
432   1325.58 1990-01-01 2000-01-01  47.8853  -54.2131        8637
445    826.68 1990-01-01 2000-01-01  48.3494  -54.1703        8574
692    845.31 1990-01-01 2000-01-01  49.4500  -53.9833        8553
433   1254.59 1990-01-01 2000-01-01  47.9492  -53.9653        8506
448    728.46 1990-01-01 2000-01-01  48.3633  -53.9639        8457
447   1046.89 1990-01-01 2000-01-01  48.3500  -53.9017        8541
541    860.06 1990-01-01 2000-01-01  49.0389  -53.8756        8532
397   1367.60 1990-01-01 2000-01-01  47.1333  -53.6667        8556
451   1155.48 1990-01-01 2000-01-01  48.3833  -53.6667        8455
410   1152.64 1991-09-01 2000-01-01  47.4167  -53.5375        8659
431    850.18 1991-10-01 2000-01-01  47.8667  -53.3833        8522
416   1195.20 1990-01-01 2000-01-01  47.5792  -53.3161        8445
402   1219.16 1990-01-02 2000-01-01  47.2667  -53.2833        8617
427   1085.41 1990-01-01 2000-01-01  47.7683  -53.2178        8655
406    406.65 1996-08-01 2000-01-01  47.3819  -53.1233        8527
437    179.66 1998-08-01 2000-01-01  48.0336  -53.1189        8432
412    955.76 1990-01-01 2000-01-01  47.4500  -53.1000        8528
422    261.16 1998-02-01 2000-01-01  47.6453  -52.8169        8576
419   1361.29 1990-01-01 2000-01-01  47.6222  -52.7428        8606
415   1072.37 1990-01-01 2000-01-01  47.5667  -52.6833        8623
420   1155.08 1990-01-02 2000-01-01  47.6242  -52.6642        8544

[1486 rows x 6 columns]

In [12]:
df_vars = pd.read_sql(msc.query_variables(session).statement, engine)
df_vars[df_vars['standard_name']=='lwe_thickness_of_precipitation_amount']

,vars_id,standard_name,long_description,unit,cell_method
72,1361,lwe_thickness_of_precipitation_amount,precipitation amount (minutes 00-60),0.1 mm,time: sum
73,1362,lwe_thickness_of_precipitation_amount,precipitation amount (minutes 00-15),0.1 mm,time: sum
74,1363,lwe_thickness_of_precipitation_amount,precipitation amount (minutes 15-30),0.1 mm,time: sum
75,1364,lwe_thickness_of_precipitation_amount,precipitation amount (minutes 30-45),0.1 mm,time: sum
76,1365,lwe_thickness_of_precipitation_amount,precipitation amount (minutes 45-60),0.1 mm,time: sum
108,1397,lwe_thickness_of_precipitation_amount,Total precipitation,0.1 mm,time: sum
119,1412,lwe_thickness_of_precipitation_amount,1200 UTC,0.1 mm,time: sum
120,1413,lwe_thickness_of_precipitation_amount,1800 UTC,0.1 mm,time: sum
121,1414,lwe_thickness_of_precipitation_amount,0000 UTC,0.1 mm,time: sum
122,1415,lwe_thickness_of_precipitation_amount,0600 UTC,0.1 mm,time: sum
152,1454,lwe_thickness_of_precipitation_amount,Total precipitation,0.1 mm,time: sum

In [13]:
df_vars[df_vars['standard_name'].str.contains('rain')]

,vars_id,standard_name,long_description,unit,cell_method
91,1380,thickness_of_rainfall_amount,Hourly rainfall,0.1 mm,time: sum
93,1382,rainfall_rate,5 minutes,0.1mm,
94,1383,rainfall_rate,10 minutes,0.1mm,
95,1384,rainfall_rate,15 minutes,0.1mm,
96,1385,rainfall_rate,30 minutes,0.1mm,
97,1386,rainfall_rate,1 hour,0.1mm,
98,1387,rainfall_rate,2 hours,0.1mm,
99,1388,rainfall_rate,6 hours,0.1mm,
100,1389,rainfall_rate,12 hours,0.1mm,
102,1391,rainfall_rate,24 hours,0.1mm,
106,1395,thickness_of_rainfall_amount,Total rainfall,0.1mm,time: sum
150,1452,thickness_of_rainfall_amount,Total rainfall,0.1 mm,time: sum
154,1456,rainfall_amount,Greatest rainfall,0.1 mm,time: maximum