In [1]:
import datetime
import time

import pandas as pd
import seaborn as sns
import cartopy.crs as ccrs
import cartopy.feature as cfeature
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
import pgpasslib

from querymsc import WorkflowTools
%load_ext autoreload
%autoreload 2

In [2]:
connection_string = "postgresql+psycopg2://nannau@dbmsc.pcic.uvic.ca/msc"
engine = create_engine(connection_string)
Session = sessionmaker(bind=engine)
session = Session()

In [3]:
start_time = datetime.datetime(1990, 1, 1)
end_time = datetime.datetime(1992, 1, 1)

msc = WorkflowTools(start_time, end_time)

2.0

In [4]:
annual_tot_precip = msc.query_annual_precip(session)
annual_tot_rain = msc.query_annual_rain(session)
query_temp = msc.query_design_temp_percentile(session)

In [7]:
query = msc.query_design_temp_percentile(session)

In [6]:
annual_tot_precip = msc.query_annual_precip(session)
pd.read_sql(annual_tot_precip.statement, engine)

,annual_precip,time_min,time_max,lat,lon,station_id,obs_count,completeness
0,932.688390,1990-01-01,1991-12-31,41.7833,-82.6833,6063,730,1.000000
1,966.911815,1990-01-01,1991-12-31,41.9500,-82.5167,6140,730,1.000000
2,995.731541,1990-01-01,1991-12-31,42.0333,-82.9000,6036,730,1.000000
3,1011.392260,1990-01-01,1991-12-31,42.0431,-82.6739,6040,730,1.000000
4,959.106473,1990-01-01,1991-12-31,42.1034,-83.0945,5992,730,1.000000
5,583.599452,1990-01-01,1991-12-31,42.2000,-82.2000,6071,684,0.936986
6,889.759007,1990-01-01,1991-12-31,42.2167,-82.7333,6137,730,1.000000
7,1015.595137,1990-01-01,1991-12-31,42.2756,-82.9556,6130,730,1.000000
8,825.715171,1990-01-01,1991-12-31,42.3333,-83.0167,6132,610,0.835616
9,899.915959,1990-01-01,1991-12-31,42.3900,-82.2153,6008,727,0.995890
10,895.162705,1990-01-01,1991-12-31,42.4500,-81.8833,6082,722,0.989041
11,1006.038596,1990-01-01,1991-12-31,42.5145,-81.6361,6050,730,1.000000
12,193.682568,1990-01-01,1991-10-31,42.5500,-81.6167,6085,182,0.249315
13,759.219658,1990-01-01,1991-12-31,42.5833,-82.4000,6119,730,1.000000
14,813.606884,1990-01-01,1991-12-31,42.5833,-82.1833,6015,729,0.998630
15,1062.927534,1990-01-01,1991-12-31,42.6667,-81.2167,6075,730,1.000000
16,499.842123,1990-01-01,1991-12-31,42.7000,-80.4500,6097,446,0.610959
17,854.835103,1990-01-01,1991-12-31,42.7639,-82.4517,5930,730,1.000000
18,1075.386062,1990-01-01,1991-12-31,42.7683,-81.2050,6095,730,1.000000
19,1023.600616,1990-01-01,1991-12-31,42.7833,-80.9833,5996,730,1.000000
20,975.267534,1990-01-01,1991-12-31,42.8333,-80.0500,6049,730,1.000000
21,479.778390,1990-01-01,1990-12-31,42.8333,-79.6167,6018,365,0.500000
22,1029.304521,1990-01-01,1991-12-31,42.8553,-80.7217,6110,730,1.000000
23,1050.769212,1990-01-01,1991-12-31,42.8667,-80.5500,6013,730,1.000000
24,943.846027,1990-01-01,1991-12-31,42.8833,-82.1667,5963,730,1.000000
25,941.144178,1990-01-01,1991-12-31,42.8833,-80.2333,6124,730,1.000000
26,1013.693836,1990-01-01,1991-12-31,42.8833,-79.2500,6069,730,1.000000
27,999.334007,1990-01-01,1991-12-31,42.8833,-78.9667,6026,730,1.000000
28,1091.547123,1990-01-01,1991-12-31,42.8895,-80.8467,6168,730,1.000000
29,975.817911,1990-01-01,1991-12-31,42.9167,-81.2167,6270,730,1.000000
...,...,...,...,...,...,...,...,...
2623,153.855308,1990-01-01,1991-12-31,68.6500,-101.7330,2133,730,1.000000
2624,289.448116,1990-01-01,1991-12-31,68.6500,-71.1667,2214,730,1.000000
2625,136.493425,1990-01-01,1991-12-31,68.6667,-97.8000,2229,730,1.000000
2626,135.943048,1990-01-01,1991-12-31,68.7500,-109.0670,2189,730,1.000000
2627,173.568801,1990-01-01,1991-12-31,68.7758,-81.2425,2233,730,1.000000
2628,312.063596,1990-01-01,1991-12-31,68.8167,-93.4333,2153,730,1.000000
2629,119.081507,1990-01-01,1991-06-28,68.8986,-75.1408,2259,544,0.745205
2630,195.283664,1990-01-01,1991-12-27,68.9500,-137.2170,1882,693,0.949315
2631,149.302192,1990-01-01,1991-12-31,69.1081,-105.1380,2190,730,1.000000
2632,194.132877,1990-01-01,1991-12-31,69.3611,-124.0750,2027,695,0.952055
2633,218.299418,1990-01-01,1991-12-31,69.3667,-81.8167,2243,728,0.997260
2634,271.936130,1990-01-01,1991-12-31,69.3833,-81.8000,2241,730,1.000000
2635,147.550993,1990-01-01,1991-12-31,69.4333,-133.0260,2054,730,1.000000
2636,110.775822,1990-01-01,1991-12-31,69.4500,-133.0000,2052,730,1.000000
2637,157.457774,1990-01-01,1991-12-31,69.5500,-93.5833,2303,730,1.000000
2638,141.296712,1990-01-01,1991-12-31,69.5833,-140.1830,1842,730,1.000000
2639,161.610616,1990-01-01,1991-12-31,69.5833,-120.8000,2104,730,1.000000
2640,160.810068,1990-01-01,1991-12-31,69.9333,-128.9670,2016,730,1.000000
2641,147.500959,1990-01-01,1991-12-31,70.1667,-124.7170,1934,730,1.000000
2642,201.788116,1990-01-01,1991-12-31,70.4861,-68.5167,2206,730,1.000000
2643,167.014315,1990-01-01,1991-12-31,70.7628,-117.8060,2319,730,1.000000
2644,191.981404,1990-01-01,1991-12-31,72.0000,-125.2670,2328,668,0.915068
2645,188.078733,1990-01-01,1991-12-31,72.6894,-77.9689,2281,730,1.000000
2646,252.572877,1990-01-01,1991-12-31,72.9833,-84.6167,2267,714,0.978082
2647,142.297397,1990-01-01,1991-12-31,74.7169,-94.9694,2292,730,1.000000
2648,11.808082,1991-01-01,1991-12-31,75.3833,-96.9167,2279,232,0.317808
2649,120.932774,1990-01-01,1991-12-31,76.2333,-119.3330,2324,730,1.000000
2650,221.301473,1990-01-01,1991-12-31,76.4167,-82.9000,2232,664,0.909589
2651,74.901267,1990-01-01,1991-12-31,79.9833,-85.9333,2221,721,0.987671
2652,170.216507,1990-01-01,1991-12-31,82.5178,-62.2806,2168,726,0.994521

In [7]:
annual_tot_rain = msc.query_annual_rain(session)
pd.read_sql(annual_tot_rain.statement, engine)

,annual_rain,time_min,time_max,lat,lon,station_id,completeness
0,895.713082,1990-01-01,1991-12-31,41.7833,-82.6833,6063,1.000000
1,906.670582,1990-01-01,1991-12-31,41.9500,-82.5167,6140,1.000000
2,922.481404,1990-01-01,1991-12-31,42.0333,-82.9000,6036,1.000000
3,962.008459,1990-01-01,1991-12-31,42.0431,-82.6739,6040,1.000000
4,886.156541,1990-01-01,1991-12-31,42.1034,-83.0945,5992,1.000000
5,466.819521,1990-01-01,1991-12-31,42.2000,-82.2000,6071,0.821918
6,848.180548,1990-01-01,1991-12-31,42.2167,-82.7333,6137,1.000000
7,928.435479,1990-01-01,1991-12-31,42.2756,-82.9556,6130,1.000000
8,665.155274,1990-01-01,1991-12-31,42.3333,-83.0167,6132,0.710959
9,823.563699,1990-01-01,1991-12-31,42.3900,-82.2153,6008,0.957534
10,830.718596,1990-01-01,1991-12-31,42.4500,-81.8833,6082,0.990411
11,951.201062,1990-01-01,1991-12-31,42.5145,-81.6361,6050,1.000000
12,115.879315,1990-01-01,1991-10-31,42.5500,-81.6167,6085,0.168493
13,688.721404,1990-01-01,1991-12-31,42.5833,-82.4000,6119,1.000000
14,755.567158,1990-01-01,1991-12-31,42.5833,-82.1833,6015,1.000000
15,995.181164,1990-01-01,1991-12-31,42.6667,-81.2167,6075,1.000000
16,420.838048,1990-01-01,1991-12-31,42.7000,-80.4500,6097,0.630137
17,781.985240,1990-01-01,1991-12-31,42.7639,-82.4517,5930,1.000000
18,993.429966,1990-01-01,1991-12-31,42.7683,-81.2050,6095,1.000000
19,944.196267,1990-01-01,1991-12-31,42.7833,-80.9833,5996,1.000000
20,890.709658,1990-01-01,1991-12-31,42.8333,-80.0500,6049,1.000000
21,458.263664,1990-01-01,1990-12-31,42.8333,-79.6167,6018,0.500000
22,912.124315,1990-01-01,1991-12-31,42.8553,-80.7217,6110,1.000000
23,948.048904,1990-01-01,1991-12-31,42.8667,-80.5500,6013,1.000000
24,856.085959,1990-01-01,1991-12-31,42.8833,-82.1667,5963,1.000000
25,848.780959,1990-01-01,1991-12-31,42.8833,-80.2333,6124,1.000000
26,939.192842,1990-01-01,1991-12-31,42.8833,-79.2500,6069,1.000000
27,870.445788,1990-01-01,1991-12-31,42.8833,-78.9667,6026,1.000000
28,955.103733,1990-01-01,1991-12-31,42.8895,-80.8467,6168,1.000000
29,843.327226,1990-01-01,1991-12-31,42.9167,-81.2167,6270,1.000000
...,...,...,...,...,...,...,...
2617,82.506473,1990-01-01,1991-12-31,68.6500,-101.7330,2133,1.000000
2618,91.012295,1990-01-01,1991-12-31,68.6500,-71.1667,2214,0.998630
2619,70.948562,1990-01-01,1991-12-31,68.6667,-97.8000,2229,1.000000
2620,77.352945,1990-01-01,1991-12-31,68.7500,-109.0670,2189,1.000000
2621,88.310445,1990-01-01,1991-12-31,68.7758,-81.2425,2233,1.000000
2622,104.021199,1990-01-01,1991-12-31,68.8167,-93.4333,2153,1.000000
2623,44.680582,1990-01-01,1991-06-28,68.8986,-75.1408,2259,0.745205
2624,112.827226,1990-01-01,1991-12-27,68.9500,-137.2170,1882,0.949315
2625,61.341986,1990-01-01,1991-12-31,69.1081,-105.1380,2190,1.000000
2626,87.009555,1990-01-01,1991-12-31,69.3611,-124.0750,2027,0.950685
2627,101.269315,1990-01-01,1991-12-31,69.3667,-81.8167,2243,1.000000
2628,101.719623,1990-01-01,1991-12-31,69.3833,-81.8000,2241,1.000000
2629,79.354315,1990-01-01,1991-12-31,69.4333,-133.0260,2054,1.000000
2630,61.942397,1990-01-01,1991-12-31,69.4500,-133.0000,2052,1.000000
2631,66.945822,1990-01-01,1991-12-31,69.5500,-93.5833,2303,1.000000
2632,77.052740,1990-01-01,1991-12-31,69.5833,-140.1830,1842,1.000000
2633,81.555822,1990-01-01,1991-12-31,69.5833,-120.8000,2104,1.000000
2634,88.360479,1990-01-01,1991-12-31,69.9333,-128.9670,2016,1.000000
2635,73.050000,1990-01-01,1991-12-31,70.1667,-124.7170,1934,1.000000
2636,65.494829,1990-01-01,1991-12-31,70.4861,-68.5167,2206,1.000000
2637,73.300171,1990-01-01,1991-12-31,70.7628,-117.8060,2319,1.000000
2638,33.072637,1990-01-01,1991-12-31,72.0000,-125.2670,2328,0.850685
2639,91.412568,1990-01-01,1991-12-31,72.6894,-77.9689,2281,1.000000
2640,71.398870,1990-01-01,1991-12-31,72.9833,-84.6167,2267,0.998630
2641,38.476336,1990-01-01,1991-12-31,74.7169,-94.9694,2292,1.000000
2642,0.000000,1991-09-01,1991-12-31,75.3833,-96.9167,2279,0.167123
2643,23.215890,1990-01-01,1991-12-31,76.2333,-119.3330,2324,1.000000
2644,79.854658,1990-01-01,1991-12-31,76.4167,-82.9000,2232,0.913699
2645,22.615479,1990-01-01,1991-12-31,79.9833,-85.9333,2221,0.987671
2646,22.815616,1990-01-01,1991-12-31,82.5178,-62.2806,2168,0.998630

In [5]:
query_temp = msc.query_design_temp_percentile(session)
pd.read_sql(query_temp.statement, engine)

,air_temperature,time_min,time_max,lat,lon,station_id,completeness
0,-17.630,1990-01-01,1991-01-31,41.7833,-82.6833,6063,0.951613
1,-16.100,1990-01-01,1991-01-31,41.9500,-82.5167,6140,0.983871
2,-15.900,1990-01-01,1991-01-31,42.0333,-82.9000,6036,0.983871
3,-16.500,1990-01-01,1991-01-31,42.0431,-82.6739,6040,0.967742
4,-15.000,1990-01-01,1991-01-31,42.1034,-83.0945,5992,0.935484
5,-15.690,1990-01-01,1991-01-31,42.2000,-82.2000,6071,0.887097
6,-15.646,1990-01-01,1991-01-31,42.2167,-82.7333,6137,1.000000
7,-14.473,1990-01-01,1991-01-31,42.2756,-82.9556,6130,1.000000
8,-14.400,1990-01-01,1991-01-31,42.3333,-83.0167,6132,0.983871
9,-9.500,1990-01-01,1990-01-31,42.3900,-82.2153,6008,0.451613
10,-15.840,1990-01-01,1991-01-31,42.4500,-81.8833,6082,0.951613
11,-15.820,1990-01-01,1991-01-31,42.5145,-81.6361,6050,0.967742
12,-9.730,1990-01-01,1990-01-31,42.5500,-81.6167,6085,0.451613
13,-15.000,1990-01-01,1991-01-31,42.5833,-82.4000,6119,0.935484
14,-18.420,1990-01-01,1991-01-31,42.5833,-82.1833,6015,0.951613
15,-16.200,1990-01-01,1991-01-31,42.6667,-81.2167,6075,0.983871
16,-19.100,1990-01-01,1991-01-31,42.7000,-80.4500,6097,0.983871
17,-16.500,1990-01-01,1991-01-31,42.7639,-82.4517,5930,0.967742
18,-17.200,1990-01-01,1991-01-31,42.7683,-81.2050,6095,0.983871
19,-12.000,1990-01-01,1990-01-31,42.8333,-79.6167,6018,0.451613
20,-19.000,1990-01-01,1991-01-31,42.8667,-80.5500,6013,0.983871
21,-19.840,1990-01-01,1991-01-31,42.8833,-82.1667,5963,0.951613
22,-16.615,1990-01-01,1991-01-31,42.8833,-79.2500,6069,0.967742
23,-17.145,1990-01-01,1991-01-31,42.8833,-78.9667,6026,0.935484
24,-17.440,1990-01-01,1991-01-31,42.8895,-80.8467,6168,0.919355
25,-16.600,1990-01-01,1991-01-31,42.9167,-81.2167,6270,0.983871
26,-17.205,1990-01-01,1991-01-31,42.9167,-80.6667,6105,0.967742
27,-17.085,1990-01-01,1991-01-31,42.9500,-81.6500,6258,1.000000
28,-18.145,1990-01-01,1991-01-31,42.9667,-80.0667,6034,0.935484
29,-18.265,1990-01-01,1991-01-31,42.9922,-82.3047,5970,1.000000
...,...,...,...,...,...,...,...
1983,-43.586,1990-01-01,1991-01-31,68.6356,-95.8503,2122,0.935484
1984,-45.046,1990-01-01,1991-01-31,68.6500,-101.7330,2133,1.000000
1985,-42.778,1990-01-01,1991-01-31,68.6500,-71.1667,2214,1.000000
1986,-47.395,1990-01-01,1991-01-31,68.6667,-97.8000,2229,1.000000
1987,-42.712,1990-01-01,1991-01-31,68.7500,-109.0670,2189,1.000000
1988,-42.400,1990-01-01,1991-01-31,68.7758,-81.2425,2233,1.000000
1989,-50.139,1990-01-01,1991-01-31,68.8167,-93.4333,2153,1.000000
1990,-43.195,1990-01-01,1991-01-31,68.8986,-75.1408,2259,1.000000
1991,-45.733,1990-01-01,1991-01-31,68.9500,-137.2170,1882,0.967742
1992,-45.224,1990-01-01,1991-01-31,69.1081,-105.1380,2190,1.000000
1993,-42.000,1990-01-01,1991-01-31,69.3611,-124.0750,2027,1.000000
1994,-41.195,1990-01-01,1991-01-31,69.3667,-81.8167,2243,1.000000
1995,-39.695,1990-01-01,1991-01-31,69.3833,-81.8000,2241,1.000000
1996,-45.456,1990-01-01,1991-01-31,69.4333,-133.0260,2054,1.000000
1997,-44.973,1990-01-01,1991-01-31,69.4500,-133.0000,2052,1.000000
1998,-45.000,1990-01-01,1991-01-31,69.5500,-93.5833,2303,0.983871
1999,-42.739,1990-01-01,1991-01-31,69.5833,-140.1830,1842,1.000000
2000,-39.232,1990-01-01,1991-01-31,69.5833,-120.8000,2104,0.919355
2001,-42.570,1990-01-01,1991-01-30,69.9333,-128.9670,2016,0.903226
2002,-40.446,1990-01-01,1991-01-31,70.1667,-124.7170,1934,1.000000
2003,-44.939,1990-01-01,1991-01-31,70.4861,-68.5167,2206,1.000000
2004,-41.890,1990-01-01,1991-01-31,70.7628,-117.8060,2319,1.000000
2005,-42.560,1990-01-02,1991-01-31,72.0000,-125.2670,2328,0.725806
2006,-43.312,1990-01-01,1991-01-31,72.6894,-77.9689,2281,1.000000
2007,-41.000,1990-01-01,1991-01-31,72.9833,-84.6167,2267,0.951613
2008,-45.458,1990-01-01,1991-01-31,74.7169,-94.9694,2292,1.000000
2009,-46.017,1990-01-01,1991-01-31,76.2333,-119.3330,2324,1.000000
2010,-42.250,1990-01-03,1991-01-31,76.4167,-82.9000,2232,0.822581
2011,-51.012,1990-01-01,1991-01-31,79.9833,-85.9333,2221,1.000000
2012,-43.795,1990-01-01,1991-01-31,82.5178,-62.2806,2168,1.000000

In [6]:
query_design_temp_dry = msc.query_design_temp_dry(session)
pd.read_sql(query_design_temp_dry.statement, engine).head()

,wet_bulb_temperature,time_min,time_max,lat,lon,station_id,completeness
0,20.0000,1990-07-01,1991-07-31,41.7833,-82.6833,6063,1.000000
1,19.7625,1990-07-01,1991-07-31,41.9500,-82.5167,6140,1.000000
2,19.5250,1990-07-01,1991-07-31,42.0333,-82.9000,6036,1.000000
3,19.4750,1990-07-01,1991-07-31,42.0431,-82.6739,6040,0.967742
4,20.7625,1990-07-01,1991-07-31,42.1034,-83.0945,5992,1.000000

In [9]:
query_design_temp_wet = msc.query_design_temp_wet(session)
pd.read_sql(query_design_temp_wet.statement, engine)

62.0

,wet_bulb_temp,time_min,time_max,lat,lon,station_id,completeness,obs_count
0,12.7175,1990-07-01 00:00:00,1991-07-31 23:00:00,42.2756,-82.9556,6130,1.000000,1488
1,12.3100,1990-07-01 10:00:00,1991-07-31 20:00:00,42.9922,-82.3047,5970,0.433468,645
2,10.7125,1990-07-01 00:00:00,1991-07-31 23:00:00,43.0331,-81.1511,6216,0.998656,1486
3,11.7775,1990-07-01 00:00:00,1991-07-31 23:00:00,43.1717,-79.9342,6373,0.666667,992
4,12.8000,1990-07-01 11:00:00,1991-07-31 21:00:00,43.2000,-79.1667,6088,0.421371,627
5,10.0350,1990-07-01 10:00:00,1991-07-31 20:00:00,43.4500,-80.3833,6266,0.435484,648
6,12.7550,1990-07-01 00:00:00,1991-07-31 23:00:00,43.6286,-79.3950,6582,0.687500,1023
7,10.6175,1990-07-01 00:00:00,1991-07-31 23:00:00,43.6772,-79.6306,6592,1.000000,1488
8,13.3050,1990-07-01 00:00:00,1991-07-31 00:00:00,43.7667,-81.7167,5940,1.000000,62
9,9.7000,1990-07-01 00:00:00,1991-07-31 23:00:00,43.8308,-66.0886,8348,1.000000,1488
10,11.1000,1990-07-01 00:00:00,1991-07-31 23:00:00,43.8622,-79.3700,6658,1.000000,1488
11,9.2000,1990-07-01 00:00:00,1991-07-31 23:00:00,43.9322,-60.0094,8262,1.000000,1488
12,9.6050,1990-07-01 00:00:00,1991-07-31 00:00:00,43.9900,-64.6642,8330,1.000000,62
13,10.8175,1990-07-01 00:00:00,1991-07-31 23:00:00,44.1167,-77.5333,6626,1.000000,1488
14,11.2000,1990-07-01 00:00:00,1991-07-31 23:00:00,44.2186,-76.5967,5602,1.000000,1488
15,9.7150,1990-07-01 10:00:00,1991-07-31 20:00:00,44.2333,-78.3667,6707,0.432796,644
16,9.5000,1990-07-01 00:00:00,1991-07-31 23:00:00,44.6333,-63.5000,8278,1.000000,1488
17,9.8000,1990-07-01 00:00:00,1991-07-31 23:00:00,44.7458,-81.1072,5897,1.000000,1488
18,8.8000,1990-07-01 00:00:00,1991-07-31 23:00:00,44.8800,-63.5000,8136,0.991263,1475
19,9.4325,1990-07-01 00:00:00,1991-07-31 23:00:00,44.9667,-79.3000,5819,0.708333,1054
20,8.8175,1990-07-01 00:00:00,1991-07-31 23:00:00,44.9833,-64.9167,8129,1.000000,1488
21,7.3075,1990-07-01 00:00:00,1991-07-31 23:00:00,45.2167,-67.2500,7996,0.513441,764
22,9.2000,1990-07-01 00:00:00,1991-07-31 23:00:00,45.3181,-65.8856,7984,1.000000,1488
23,10.5000,1990-07-01 00:00:00,1991-07-31 23:00:00,45.3225,-75.6692,5655,1.000000,1488
24,7.8000,1990-07-01 00:00:00,1991-07-31 23:00:00,45.4333,-71.6833,7093,1.000000,1488
25,9.8175,1990-07-01 00:00:00,1991-07-31 23:00:00,45.4667,-73.7500,6974,1.000000,1488
26,8.5000,1990-07-01 00:00:00,1991-07-31 23:00:00,45.5167,-75.5667,7158,1.000000,1488
27,9.7175,1990-07-01 00:00:00,1991-07-31 23:00:00,45.5167,-73.4167,7045,1.000000,1488
28,8.6000,1990-07-01 00:00:00,1991-07-31 23:00:00,45.6667,-74.0333,7189,1.000000,1488
29,-24.3950,1990-07-01 00:00:00,1991-07-31 00:00:00,45.8333,-66.4333,7880,1.000000,62
...,...,...,...,...,...,...,...,...
268,-36.6500,1990-07-01 00:00:00,1991-07-31 00:00:00,68.6500,-101.7330,2133,0.983871,61
269,-36.2850,1990-07-01 00:00:00,1991-07-31 00:00:00,68.6500,-71.1667,2214,1.000000,62
270,-36.2950,1990-07-01 00:00:00,1991-07-31 00:00:00,68.6667,-97.8000,2229,1.000000,62
271,-36.3375,1990-07-01 00:00:00,1991-07-31 00:00:00,68.7500,-109.0670,2189,1.000000,62
272,1.3000,1990-07-01 00:00:00,1991-07-31 23:00:00,68.7758,-81.2425,2233,1.000000,1488
273,-34.1225,1990-07-01 00:00:00,1991-07-31 00:00:00,68.8167,-93.4333,2153,1.000000,62
274,-36.2425,1990-07-01 00:00:00,1991-07-31 00:00:00,68.8986,-75.1408,2259,1.000000,62
275,-36.3850,1990-07-01 00:00:00,1991-07-31 00:00:00,68.9333,-75.2833,2271,1.000000,62
276,-34.3475,1990-07-01 00:00:00,1991-07-31 00:00:00,68.9500,-137.2170,1882,1.000000,62
277,1.2325,1990-07-01 00:00:00,1991-07-31 23:00:00,69.1081,-105.1380,2190,0.520161,774
278,-35.0000,1990-07-01 00:00:00,1991-07-31 00:00:00,69.3611,-124.0750,2027,0.983871,61
279,-36.5950,1990-07-01 00:00:00,1991-07-31 00:00:00,69.3667,-81.8167,2243,1.000000,62
280,-23.8400,1990-07-01 00:00:00,1991-07-31 00:00:00,69.4333,-133.0260,2054,1.000000,62
281,-35.9000,1990-07-01 00:00:00,1991-07-31 00:00:00,69.4500,-133.0000,2052,1.000000,62
282,-36.3900,1990-07-01 00:00:00,1991-07-31 00:00:00,69.5500,-93.5833,2303,1.000000,62
283,-31.9000,1990-07-01 00:00:00,1991-07-31 20:00:00,69.5833,-140.1830,1842,0.206989,308
284,-34.3475,1990-07-01 00:00:00,1991-07-31 00:00:00,69.5833,-120.8000,2104,1.000000,62
285,-30.5400,1990-07-01 00:00:00,1991-07-31 19:00:00,69.9333,-128.9670,2016,0.102823,153
286,-1.0000,1990-07-01 00:00:00,1991-07-31 23:00:00,70.1667,-124.7170,1934,0.511425,761
287,0.2000,1990-07-01 00:00:00,1991-07-31 23:00:00,70.4861,-68.5167,2206,0.993952,1479
288,-36.3425,1990-07-01 00:00:00,1991-07-31 00:00:00,70.7628,-117.8060,2319,1.000000,62
289,-34.6000,1990-07-01 00:00:00,1991-07-31 00:00:00,72.0000,-125.2670,2328,1.000000,62
290,1.6000,1990-07-01 00:00:00,1991-07-31 23:00:00,72.6894,-77.9689,2281,0.988575,1471
291,-37.9950,1990-07-01 00:00:00,1991-07-31 00:00:00,72.9833,-84.6167,2267,1.000000,62
292,-0.5000,1990-07-01 00:00:00,1991-07-31 23:00:00,74.7169,-94.9694,2292,0.985887,1467
293,-2.9000,1990-07-01 00:00:00,1991-07-31 00:00:00,76.2333,-119.3330,2324,1.000000,62
294,-35.9000,1990-07-01 00:00:00,1991-07-31 00:00:00,76.4167,-82.9000,2232,0.983871,61
295,-2.5300,1990-07-01 00:00:00,1991-07-31 00:00:00,79.9833,-85.9333,2221,1.000000,62
296,-39.8425,1990-07-01 00:00:00,1991-07-31 00:00:00,82.5167,-62.2833,2169,1.000000,62
297,-36.4475,1990-07-01 00:00:00,1991-07-31 00:00:00,82.5178,-62.2806,2168,1.000000,62

In [10]:
hdd = msc.query_deg_day_below_18(session)
pd.read_sql(hdd.statement, engine)

,hdd,time_min,time_max,lat,lon,station_id,completeness
0,2408.65,1990-01-01,1991-12-31,41.7833,-82.6833,6063,0.991781
1,2674.05,1990-01-01,1991-12-31,41.9500,-82.5167,6140,0.989041
2,2623.50,1990-01-01,1991-12-31,42.0333,-82.9000,6036,0.984932
3,2698.20,1990-01-01,1991-12-31,42.0431,-82.6739,6040,0.964384
4,2490.50,1990-01-01,1991-12-31,42.1034,-83.0945,5992,0.989041
5,2412.50,1990-01-01,1991-12-31,42.2000,-82.2000,6071,0.815068
6,2712.75,1990-01-01,1991-12-31,42.2167,-82.7333,6137,0.998630
7,2691.40,1990-01-01,1991-12-31,42.2756,-82.9556,6130,0.997260
8,1562.70,1990-01-01,1991-12-31,42.3333,-83.0167,6132,0.671233
9,2328.40,1990-01-01,1991-12-31,42.3900,-82.2153,6008,0.953425
10,2622.10,1990-01-01,1991-12-31,42.4500,-81.8833,6082,0.953425
11,3011.30,1990-01-01,1991-12-31,42.5145,-81.6361,6050,0.986301
12,635.45,1990-01-01,1991-10-31,42.5500,-81.6167,6085,0.163014
13,2548.80,1990-01-01,1991-12-31,42.5833,-82.4000,6119,0.828767
14,3041.50,1990-01-01,1991-12-31,42.5833,-82.1833,6015,0.971233
15,3272.75,1990-01-01,1991-12-31,42.6667,-81.2167,6075,0.987671
16,2363.20,1990-01-01,1991-12-31,42.7000,-80.4500,6097,0.641096
17,2751.55,1990-01-01,1991-12-31,42.7639,-82.4517,5930,0.993151
18,3033.10,1990-01-01,1991-12-31,42.7683,-81.2050,6095,0.991781
19,1581.25,1990-01-01,1990-12-31,42.8333,-79.6167,6018,0.491781
20,3182.70,1990-01-01,1991-12-31,42.8667,-80.5500,6013,0.989041
21,2920.05,1990-01-01,1991-12-31,42.8833,-82.1667,5963,0.978082
22,2891.30,1990-01-01,1991-12-31,42.8833,-79.2500,6069,0.989041
23,3062.30,1990-01-01,1991-12-31,42.8833,-78.9667,6026,0.991781
24,3230.65,1990-01-01,1991-12-31,42.8895,-80.8467,6168,0.982192
25,3257.25,1990-01-01,1991-12-31,42.9167,-81.2167,6270,0.989041
26,3168.10,1990-01-01,1991-12-31,42.9167,-80.6667,6105,0.983562
27,3059.85,1990-01-01,1991-12-31,42.9500,-81.6500,6258,0.994521
28,3133.60,1990-01-01,1991-12-31,42.9667,-80.0667,6034,0.983562
29,3207.70,1990-01-01,1991-12-31,42.9922,-82.3047,5970,0.991781
...,...,...,...,...,...,...,...
2252,9155.60,1990-01-01,1991-12-31,68.6500,-101.7330,2133,0.852055
2253,11403.55,1990-01-01,1991-12-31,68.6500,-71.1667,2214,0.993151
2254,8861.80,1990-01-01,1991-12-31,68.6667,-97.8000,2229,0.831507
2255,9885.40,1990-01-01,1991-12-31,68.7500,-109.0670,2189,0.910959
2256,11834.00,1990-01-01,1991-12-31,68.7758,-81.2425,2233,0.998630
2257,12529.30,1990-01-01,1991-12-31,68.8167,-93.4333,2153,0.998630
2258,7727.95,1990-01-01,1991-06-28,68.8986,-75.1408,2259,0.672603
2259,8618.00,1990-01-01,1991-12-27,68.9500,-137.2170,1882,0.890411
2260,11994.45,1990-01-01,1991-12-31,69.1081,-105.1380,2190,0.997260
2261,9941.40,1990-01-01,1991-12-31,69.3611,-124.0750,2027,0.934247
2262,11570.10,1990-01-01,1991-12-31,69.3667,-81.8167,2243,0.973973
2263,11294.75,1990-01-01,1991-12-31,69.3833,-81.8000,2241,0.980822
2264,10336.60,1990-01-01,1991-12-31,69.4333,-133.0260,2054,0.993151
2265,9493.90,1990-01-01,1991-12-31,69.4500,-133.0000,2052,0.954795
2266,12072.50,1990-01-01,1991-12-31,69.5500,-93.5833,2303,0.984932
2267,9729.30,1990-01-01,1991-12-31,69.5833,-140.1830,1842,0.950685
2268,9766.70,1990-01-01,1991-12-31,69.5833,-120.8000,2104,0.943836
2269,9386.35,1990-01-01,1991-12-31,69.9333,-128.9670,2016,0.916438
2270,11146.80,1990-01-01,1991-12-31,70.1667,-124.7170,1934,1.000000
2271,11365.30,1990-01-01,1991-12-31,70.4861,-68.5167,2206,0.998630
2272,11264.45,1990-01-01,1991-12-31,70.7628,-117.8060,2319,0.994521
2273,7048.60,1990-01-02,1991-12-31,72.0000,-125.2670,2328,0.601370
2274,12009.70,1990-01-01,1991-12-31,72.6894,-77.9689,2281,0.995890
2275,11810.65,1990-01-01,1991-12-31,72.9833,-84.6167,2267,0.976712
2276,12613.15,1990-01-01,1991-12-31,74.7169,-94.9694,2292,0.998630
2277,2261.50,1991-09-01,1991-12-31,75.3833,-96.9167,2279,0.164384
2278,12823.50,1990-01-01,1991-12-31,76.2333,-119.3330,2324,0.993151
2279,8151.70,1990-01-03,1991-12-31,76.4167,-82.9000,2232,0.698630
2280,13373.25,1990-01-01,1991-12-31,79.9833,-85.9333,2221,0.986301
2281,12822.45,1990-01-01,1991-12-31,82.5178,-62.2806,2168,0.998630

In [29]:
df_vars = pd.read_sql(msc.query_variables(session).statement, engine)
#df_vars[df_vars['net_var_name']=='127']
#df_vars[(df_vars['net_var_name'].astype(int) > 124) & (df_vars['net_var_name'].astype(int) < 132)]
df_vars[df_vars['standard_name'].str.contains('rain')]

,vars_id,standard_name,long_description,unit,cell_method,net_var_name
91,1380,thickness_of_rainfall_amount,Hourly rainfall,0.1 mm,time: sum,123
93,1382,rainfall_rate,5 minutes,0.1mm,,125
94,1383,rainfall_rate,10 minutes,0.1mm,,126
95,1384,rainfall_rate,15 minutes,0.1mm,,127
96,1385,rainfall_rate,30 minutes,0.1mm,,128
97,1386,rainfall_rate,1 hour,0.1mm,,129
98,1387,rainfall_rate,2 hours,0.1mm,,130
99,1388,rainfall_rate,6 hours,0.1mm,,131
100,1389,rainfall_rate,12 hours,0.1mm,,132
102,1391,rainfall_rate,24 hours,0.1mm,,161
106,1395,thickness_of_rainfall_amount,Total rainfall,0.1mm,time: sum,10
150,1452,thickness_of_rainfall_amount,Total rainfall,0.1 mm,time: sum,48
154,1456,rainfall_amount,Greatest rainfall,0.1 mm,time: maximum,52

In [12]:
rain_rate = msc.query_rain_rate_15(session)
df_rain_rate = pd.read_sql(rain_rate.statement, engine)
df_rain_rate[df_rain_rate['completeness'] > 0.6]

,rainfall_rate,time_min,time_max,lat,lon,station_id,completeness
1,18.8,1990-01-01,1991-12-31,42.2756,-82.9556,6130,0.968493
4,16.9,1990-04-03,1991-11-30,42.8667,-80.5500,6013,0.656164
7,18.6,1990-01-01,1991-12-31,43.0331,-81.1511,6216,0.938356
11,31.1,1990-01-01,1991-11-30,43.1717,-79.9342,6373,0.932877
12,17.2,1990-02-02,1991-12-31,43.2000,-79.1667,6088,0.819178
13,14.4,1990-04-01,1991-11-30,43.2833,-79.8833,6378,0.612329
19,14.0,1990-04-01,1991-10-31,43.6286,-79.3950,6582,0.658904
25,16.5,1990-01-01,1991-12-31,43.6772,-79.6306,6592,0.987671
28,14.9,1990-01-01,1991-12-31,43.8308,-66.0886,8348,0.982192
31,14.2,1990-01-01,1991-12-31,43.8667,-66.1000,8104,0.980822
36,11.1,1990-01-01,1991-12-31,43.9322,-60.0094,8262,0.924658
42,12.6,1990-01-01,1991-12-31,44.1167,-77.5333,6626,0.975342
55,11.0,1990-01-01,1991-12-31,44.6333,-63.5000,8278,0.979452
59,11.6,1990-01-01,1991-12-31,44.9833,-64.9167,8129,0.979452
60,8.6,1990-04-05,1991-11-29,45.0000,-75.6333,5597,0.645205
73,11.8,1990-01-01,1991-12-31,45.3181,-65.8856,7984,0.983562
74,13.6,1990-03-01,1991-11-30,45.3225,-75.6692,5655,0.865753
75,15.3,1990-03-11,1991-11-11,45.3667,-71.5333,7088,0.689041
83,13.8,1990-01-01,1991-12-31,45.4667,-73.7500,6974,0.963014
88,8.9,1990-02-01,1991-10-31,45.5167,-73.4167,7045,0.742466
101,11.1,1990-01-01,1991-12-31,45.8721,-66.5279,7874,0.973973
110,14.5,1990-01-01,1991-12-31,46.0500,-74.2833,7198,0.967123
115,16.6,1990-01-01,1991-12-31,46.1053,-64.6838,7935,0.990411
118,9.0,1990-01-01,1991-12-31,46.1667,-60.0481,8306,0.983562
125,14.1,1990-01-01,1991-12-31,46.3636,-79.4228,5494,0.901370
132,8.1,1990-01-01,1991-06-30,46.4389,-63.8317,8398,0.710959
134,13.2,1990-01-01,1991-12-31,46.4833,-84.5094,5358,0.978082
140,12.3,1990-04-01,1991-11-28,46.6256,-80.7978,5404,0.676712
155,10.3,1990-04-01,1991-11-30,46.9167,-55.3833,8611,0.620548
156,22.8,1990-01-02,1991-07-31,47.0095,-65.4678,7853,0.649315
...,...,...,...,...,...,...,...
302,7.8,1990-01-01,1991-12-31,50.2364,-57.5811,8472,0.884932
306,24.7,1990-01-01,1991-09-30,50.3000,-107.6830,4154,0.624658
307,16.9,1990-01-01,1991-10-31,50.3333,-105.5670,3934,0.784932
309,17.4,1990-01-01,1991-10-31,50.3681,-102.5710,3814,0.709589
313,17.7,1990-01-01,1991-09-30,50.6333,-97.0167,4858,0.712329
315,0.0,1990-01-02,1991-12-30,50.6733,-121.9240,1129,0.616438
316,8.2,1990-01-03,1991-12-31,50.6803,-127.3660,234,0.931507
317,17.9,1990-03-01,1991-11-30,50.6856,-119.2340,1526,0.809589
318,17.8,1990-01-01,1991-12-31,50.7022,-120.4420,1480,0.987671
326,11.0,1990-04-01,1991-09-30,51.1139,-114.0200,2890,0.619178
328,12.7,1990-03-01,1991-10-31,51.2667,-102.4670,4046,0.627397
336,11.6,1990-01-01,1991-10-31,51.5167,-109.1830,4238,0.704110
338,4.4,1990-01-01,1991-12-31,51.9333,-131.0170,416,0.941096
348,3.9,1990-01-02,1991-12-31,52.3875,-126.5960,457,0.960274
354,14.3,1990-03-01,1991-10-31,52.8167,-102.3170,4506,0.660274
356,5.5,1990-03-01,1991-11-30,52.9272,-66.8742,8734,0.620548
359,11.0,1990-04-01,1991-10-31,53.2167,-105.6670,4342,0.624658
360,4.6,1990-01-01,1991-12-31,53.2539,-131.8130,439,0.982192
361,10.9,1990-03-01,1991-09-30,53.3167,-113.5830,2412,0.667123
362,10.4,1990-04-01,1991-11-30,53.3167,-60.4167,8699,0.606849
367,10.6,1990-03-01,1991-11-30,53.5500,-64.1000,8696,0.661644
371,19.2,1990-03-01,1991-09-30,53.6667,-113.4670,2417,0.663014
374,23.5,1990-04-01,1991-11-30,53.8500,-94.6500,5048,0.626027
376,19.3,1990-04-01,1991-11-30,53.9500,-97.8500,5101,0.617808
384,6.3,1990-01-01,1991-12-31,54.2552,-133.0580,424,0.923288
385,5.0,1990-01-02,1991-12-31,54.2925,-130.4450,507,0.957534
391,5.5,1990-03-01,1991-12-31,54.5019,-128.6250,533,0.780822
396,12.0,1990-04-01,1991-10-31,55.1500,-105.2670,4429,0.626027
401,21.8,1990-04-01,1991-09-30,55.3000,-114.7830,3491,0.623288
410,3.6,1990-04-02,1991-10-31,55.9361,-129.9850,524,0.649315

In [19]:
df_rain_rate['obs_count'].value_counts().idxmax()

55