In [1]:
import datetime
import calendar

from pycds import *
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy import and_, or_
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pgpasslib

In [3]:
connection_string = "postgresql+psycopg2://nannau@dbmsc.pcic.uvic.ca/msc"
engine = create_engine(connection_string)
Session = sessionmaker(bind=engine)
session = Session()

obs = session.query(Obs).limit(50).all()

In [4]:
year = 2000
month = 2
day = 1
interval = 1
start_time = datetime.datetime(year, month, day)
end_time = datetime.datetime(year, month + interval, day)

In [29]:

def baseline(start_time, end_time, limit = 100):
    query = session.query(Obs.datum, Obs.time, Variable.standard_name, History.station_id).filter(Obs.time <= end_time).filter(Obs.time >= start_time).join(History).join(Variable).limit(limit)
    return query

def temperature_query(limit = 100):
    query = baseline(limit).filter()

In [31]:
pd.read_sql(baseline(start_time, end_time, 50000).statement, engine)

       datum   obs_time                 standard_name  station_id
0        0.0 2000-02-01  thickness_of_snowfall_amount         122
1        0.0 2000-02-02  thickness_of_snowfall_amount         122
2        0.0 2000-02-03  thickness_of_snowfall_amount         122
3        0.0 2000-02-04  thickness_of_snowfall_amount         122
4        0.0 2000-02-05  thickness_of_snowfall_amount         122
5        0.0 2000-02-06  thickness_of_snowfall_amount         122
6        0.0 2000-02-07  thickness_of_snowfall_amount         122
7        0.0 2000-02-08  thickness_of_snowfall_amount         122
8        0.0 2000-02-09  thickness_of_snowfall_amount         122
9        0.0 2000-02-10  thickness_of_snowfall_amount         122
10       0.0 2000-02-11  thickness_of_snowfall_amount         122
11       0.0 2000-02-12  thickness_of_snowfall_amount         122
12       0.0 2000-02-13  thickness_of_snowfall_amount         122
13       0.0 2000-02-14  thickness_of_snowfall_amount         122
14       0.0 2000-02-15  thickness_of_snowfall_amount         122
15       0.0 2000-02-16  thickness_of_snowfall_amount         122
16       0.0 2000-02-17  thickness_of_snowfall_amount         122
17       0.0 2000-02-18  thickness_of_snowfall_amount         122
18       0.0 2000-02-19  thickness_of_snowfall_amount         122
19       0.0 2000-02-20  thickness_of_snowfall_amount         122
20       0.0 2000-02-21  thickness_of_snowfall_amount         122
21       0.0 2000-02-22  thickness_of_snowfall_amount         122
22       0.0 2000-02-23  thickness_of_snowfall_amount         122
23       0.0 2000-02-24  thickness_of_snowfall_amount         122
24       0.0 2000-02-25  thickness_of_snowfall_amount         122
25       0.0 2000-02-26  thickness_of_snowfall_amount         122
26       0.0 2000-02-27  thickness_of_snowfall_amount         122
27       0.0 2000-02-28  thickness_of_snowfall_amount         122
28       0.0 2000-02-29  thickness_of_snowfall_amount         122
29       0.0 2000-03-01  thickness_of_snowfall_amount         122
...      ...        ...                           ...         ...
49970   26.0 2000-02-13           surface_snow_amount        2243
49971   26.0 2000-02-14           surface_snow_amount        2243
49972   26.0 2000-02-15           surface_snow_amount        2243
49973   26.0 2000-02-16           surface_snow_amount        2243
49974   24.0 2000-02-17           surface_snow_amount        2243
49975   25.0 2000-02-18           surface_snow_amount        2243
49976   26.0 2000-02-19           surface_snow_amount        2243
49977   26.0 2000-02-20           surface_snow_amount        2243
49978   27.0 2000-02-21           surface_snow_amount        2243
49979   26.0 2000-02-22           surface_snow_amount        2243
49980   23.0 2000-02-23           surface_snow_amount        2243
49981   21.0 2000-02-24           surface_snow_amount        2243
49982   21.0 2000-02-25           surface_snow_amount        2243
49983   21.0 2000-02-26           surface_snow_amount        2243
49984   20.0 2000-02-27           surface_snow_amount        2243
49985   20.0 2000-02-28           surface_snow_amount        2243
49986   20.0 2000-02-29           surface_snow_amount        2243
49987    0.0 2000-02-01           surface_snow_amount         448
49988    0.0 2000-02-02           surface_snow_amount         448
49989    0.0 2000-02-03           surface_snow_amount         448
49990    0.0 2000-02-04           surface_snow_amount         448
49991    0.0 2000-02-05           surface_snow_amount         448
49992    0.0 2000-02-06           surface_snow_amount         448
49993    0.0 2000-02-07           surface_snow_amount         448
49994    0.0 2000-02-08           surface_snow_amount         448
49995    0.0 2000-02-09           surface_snow_amount         448
49996    0.0 2000-02-10           surface_snow_amount         448
49997    0.0 2000-02-11           surface_snow_amount         448
49998    0.0 2000-02-12           surface_snow_amount         448
49999    0.0 2000-02-13           surface_snow_amount         448

[50000 rows x 4 columns]